.shootKey {
  position: absolute;
  background-color: #360757;
  width: 27px;
  height: 35px;
  /* padding: 20px; */
  border-radius: 100%;
  font-size: 17pt;
  font-weight: 600;
  text-align: center;
  align-items: flex-end;
  
  animation: move-shoot 0.9s linear both
}

@keyframes move-shoot {
  0%{
    /* letter-spacing:-.2em; */
    /* transform:translateZ(-700px) translateY(-100px); */
  }
  95%{
    opacity: 1
  }
  100%{
    transform:translateZ(0) translateY(-700px);
    opacity:0
  }
}
