.shootKey {
  position: absolute;
  background-color: #360757;
  width: 27px;
  height: 35px;
  /* padding: 20px; */
  border-radius: 100%;
  font-size: 17pt;
  font-weight: 600;
  text-align: center;
  align-items: flex-end;
  
  /* animation: move-shoot 0.9s linear both */
}

.shotTarget {
  animation: move-shoot-on-target 0.9s linear both
}
.shotTLeft {
  animation: move-shoot-left 0.9s linear both
}
.shotTRight {
  animation: move-shoot-right 0.9s linear both
}

@keyframes move-shoot-on-target {
  0%{
    /* letter-spacing:-.2em; */
    /* transform:translateZ(-700px) translateY(-100px); */
  }
  95%{
    opacity: 1
  }
  100%{
    transform:translateZ(var(--positionX)) translateY(-700px) scale(3);
    opacity:0
  }
}

@keyframes move-shoot-left {
  0%{
    /* letter-spacing:-.2em; */
    /* transform:translateZ(-700px) translateY(-100px); */
  }
  95%{
    opacity: 1
  }
  100%{
    transform:translateZ(0) translateY(-700px) scale(3);
    opacity:0
  }
}

@keyframes move-shoot-right {
  0%{
    /* letter-spacing:-.2em; */
    /* transform:translateZ(-700px) translateY(-100px); */
  }
  95%{
    opacity: 1
  }
  100%{
    transform:translateZ(0) translateY(-700px) scale(3);
    opacity:0
  }
